@font-face {
   font-family: 'gamecube' ;
   src: url('/font/gamecuben.ttf') format('truetype');
}

/*
.box {
    margin: auto;
}
*/

.header {
/*       align-self: flex-start;*/
    font-family: 'gamecube', sans-serif;
}

.vertical-align {
    display: flex;
/*    height: 80%;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rounded-edges {
    border-radius: 0.85em;
}
