@font-face {
   font-family: 'gamecube' ;
   src: url('./font/gamecuben.ttf') format('truetype');
}


.gamecube-text {
    font-family: 'gamecube', sans-serif;
}

.rounded-edges {
    border-radius: 0.85em;
}

.top-rounded-edges {
    border-radius: 0.85em 0.85em 0 0;
}

.vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scroll-box {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
    padding: 0 2% 0 2%;
}

.orange-box {
    background-image: url("../images/orange-spice-cube.jpg");
}

.cyan-box {
    background-image: url("../images/tales-symphonia-cube.jpg");
}

.red-box {
    background-image: url("../images/gundam-cube.jpg");
}

.white-box {
    background-image: url("../images/hashin-tigers-cube.jpg");
}


.image-box {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 26px;
    }
    #scroll-box {
        height: 75vh;
    }
}
