@font-face {
   font-family: 'gamecube' ;
   src: url('./font/gamecuben.ttf') format('truetype');
}


.gamecube-text {
    font-family: 'gamecube', sans-serif;
}

.rounded-edges {
    border-radius: 0.85em;
}

.top-rounded-edges {
    border-radius: 0.85em 0.85em 0 0;
}

.vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scroll-box {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
    padding: 0 2% 0 2%;
}

.image-box {
    height: 50%;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 26px;
    }
    #scroll-box {
        height: 75vh;
    }
}
